[package]
name = "day01"
version.workspace = true
edition.workspace = true

[dependencies]
common = { path = "../common" }

[dev-dependencies]
criterion.workspace = true

[[bench]]
name = "bench"
harness = false
